@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #c8ff00;
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color:white;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid rgb(0, 225, 255);
  
}

a:hover {
  color: #00f2fa;
}

.start {
  font-size: 1.5rem;
}

h1 {
  
  font-size: 6rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(180deg, #000000 0%, #0d4b68f6 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #16D9E3;
  color: #00e8f0;
}

.hide {
  opacity: 0;
}

.primary {
  color: #0abfec;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(118.38deg, #29323C -4.6%, #0b417a 200.44%);
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;

}

